<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
          <remove name="Server" />
        </customHeaders>
      </httpProtocol>
      <security>
        <authentication>
          <!--Funktioniert nicht...-->
          <!--<anonymousAuthentication userName="" />-->
        </authentication>
        <authorization>
          <remove users="*" roles="" verbs="" />
          <add accessType="Allow" roles="administrators" />
        </authorization>
        <requestFiltering allowDoubleEscaping="false" allowHighBitCharacters="false" removeServerHeader="true">
          <requestLimits maxUrl="4096" maxQueryString="2048" maxAllowedContentLength="30000000" />
          <verbs>
            <add verb="TRACE" allowed="false" />
          </verbs>
          <fileExtensions allowUnlisted="false">
            <remove fileExtension="." />
            <add fileExtension="." allowed="true" />
            <add fileExtension=".html" allowed="true" />
            <add fileExtension=".pdf" allowed="true" />
            <add fileExtension=".png" allowed="true" />
            <add fileExtension=".jpg" allowed="true" />
            <add fileExtension=".gif" allowed="true" />
            <add fileExtension=".ico" allowed="true" />
            <add fileExtension=".css" allowed="true" />
            <add fileExtension=".xlsx" allowed="true" />
            <add fileExtension=".svg" allowed="true" />
            <add fileExtension=".js" allowed="true" />
            <add fileExtension=".map" allowed="true" />
            <add fileExtension=".json" allowed="true" />
            <add fileExtension=".xml" allowed="true" />
            <add fileExtension=".txt" allowed="true" />
            <add fileExtension=".mp3" allowed="true" />
            <add fileExtension=".mpeg" allowed="true" />
            <add fileExtension=".mp4" allowed="true" />
            <add fileExtension=".webm" allowed="true" />
            <add fileExtension=".ogg" allowed="true" />
            <add fileExtension=".woff" allowed="true" />
            <add fileExtension=".woff2" allowed="true" />
          </fileExtensions>
        </requestFiltering>
        <isapiCgiRestriction notListedIsapisAllowed="false" notListedCgisAllowed="false" />
      </security>
      <handlers accessPolicy="Execute, Read, Script">
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\xappido.AppHost.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
      <httpErrors errorMode="DetailedLocalOnly" />
    </system.webServer>
    <system.web>
      <sessionState cookieless="UseCookies" />
      <customErrors mode="On" />
      <compilation debug="false" />
      <deployment retail="true" />
      <httpCookies httpOnlyCookies="true" />
      <authentication>
        <forms requireSSL="true" protection="All" />
      </authentication>
    </system.web>
  </location>
</configuration>
<!--ProjectGuid: f14c2e6c-0e9c-4d87-aa6e-faf42be9d6a9-->